<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Not Found</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>

<header>
    <h1>TL;D</h1>
    <h3>Too Long; Didn't [Reach]</h3>
</header>

<div class="content centered">
    {% if isLoggedIn == true %}
        {#  *** FALG VALUE *** #}
        <h2>You got it!</h2>
        <code>ATHACKCTF{tldr_BCrypt_i$_limit3d_to_72_8yt3s}</code>
        {#  *** FALG VALUE *** #}
    {% else %}
        <h2>Sorry, this is not for you!.</h2>
        <div class="error-message">You gotta login first!</div>
        <p>You have to log in to see the flag. It's only meant for TL.D staff members...</p>
        <a href="/">
            <button class="btn">Back to Forum</button>
        </a>
    {% endif %}
</div>
</body>
</html>



