<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TL;D</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<header>
    <h1>TL;D</h1>
    <h3>Too Long; Didn't [Reach]</h3>
</header>
<div class="content">
    {% if isLoggedIn == true %}
        <h2><b>Logged in as:</b> {# TODO #}</h2>
    {% else %}
        <div class="top-section">
            <h3>Login to your TL;D Account</h3>
            <div class="top-container">
                <form class="login-form" action="/login" method="POST">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    <button type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
    {% endif %}
    <h2><b>Want to see something cool?</b></h2>
    <a href="/flag">Click here to check the flag!</a>
    <h2><b>Forum</b> - Hot Threads🔥🧵</h2>
    <div class="forum">
        {% for thread in threads %}
            <h3>Thread: {{ thread.title }}</h3>
            {% for comment in thread.comments %}
                <div class="post" {% if comment.isStaff == true %} title="Staff Member!" {% endif %}>
                    <p><strong>{{ comment.username }} ({{ comment.role }})</strong>: {{ comment.text }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
</body>
</html>
