body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b1a40;
    color: #F5DC38;
    padding: 1rem;
    text-align: center;
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px #4440A0;
}

.centered {
    text-align: center;
}

h2 {
    color: #1b1a40;
}

.forum {
    margin-top: 20px;
}

.forum h3 {
    background-color: #ddd;
    padding: 10px;
    margin: 0;
}

.forum p {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 3px solid #1b1a40;
}

.top-section {
    background-color: #cac8e9;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #a6a4db;
}

.top-section h3 {
    margin-top: 0;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    background-color: #1b1a40;
    color: #F5DC38;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #4440A0;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    max-width: 400px;
    width: 100%;
}

.error-message {
    font-size: 3rem;
    color: #e74c3c;
    margin-bottom: 20px;
}

.badge {
    display: inline-block;
    padding: 2px 2px;
    margin: 2px 2px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    text-align: center;
}

.bg-color-admin {
    background-color: #007bff;
}

.bg-color-nobody {
    background-color: #1b1a40;
}

.bg-color-trusted-user {
    background-color: green;
}